<%= form_with model: choice, local: true do |form| %>
  <% if choice.errors.any? %>
    <div class="alert alert-danger">
      <p><b><%= choice.errors.count %>件のエラーがあります</b></p>

      <ul>
      <% choice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :choice_a %><br>
    <%= form.text_field :choice_a, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :choice_b %><br>
    <%= form.text_field :choice_b, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :answer %><br>
    <%= form.text_field :answer, class: "form-control" %>
  </div>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.submit class: "btn btn-default" %>
<% end %>
